{% extends 'base.html' %}

{% block content %}

<div class="hero hero3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single cebleb-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="mv-ceb">
					<img src="{{celebrity.image.url}}" alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct">
					<h1 class="bd-hd">{{celebrity.full_name}}</h1>
					<p class="ceb-single">{{celebrity.career}}</p>
					<div class="social-link cebsingle-socail">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overviewceb">Об актёре</a></li>
								<li><a href="#biography">Полная биография</a></li>
								<li><a href="#filmography">Фильмография</a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overviewceb" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{celebrity.short_biography}}</p>

											<p class="time"><a href="#"></a></p>

											<!-- movie cast -->

						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Полное имя:  </h6>
						            			<p>{{celebrity.full_name}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Дата рождения: </h6>
						            			<p>{{celebrity.birthday|date:"d F Y"}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Страна  </h6>
						            			<p>{{celebrity.country}}</p>
						            		</div>


						            		<div class="ads">
												<img src="images/uploads/ads1.png" alt="Здесь могла быть ваша реклама!">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="biography" class="tab">
						           <div class="row">
						            	<div class="rv-hd">
											<div>
												<h3>Биография</h3>
						       	 				<h2>{{celebrity.full_name}}</h2>
											</div>
						            	</div>
						            	<p>{{celebrity.biography}}</p>
						            </div>
						        </div>
					       	 	<div id="filmography" class="tab">
						        	<div class="row">
						            	<div class="rv-hd">
						            		<div>
						            			<h3>Биография</h3>
					       	 					<h2>{{celebrity.full_name}}</h2>
						            		</div>

						            	</div>
						            	<div class="topbar-filter">
											<p>Найдено <span>{{celebrity.film_actor.count}} фильма/фильмов</span></p>
										</div>
										<!-- movie cast -->
										<div class="mvcast-item">
											{% for film in celebrity.film_actor.all %}
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src="{{film.image.url}}" style="width:55px;height:77px;" alt="">
													<div>
														<a href="{% url 'film_single' film.id %}">{{film.name}}</a>
														<p class="time"></p>
													</div>

												</div>
												<p>{{film.date_relise|date:"Y"}}</p>
											</div>
											{% endfor %}

										</div>

						            </div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}