{% extends 'base.html' %}

{% block content %}
  {% csrf_token %}
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> Все Фильмы</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'index' %}">Главная страница</a></li>
						<li> <span class="ion-ios-arrow-right"></span> Список фильмов</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8 col-sm-12 col-xs-12">

				<div class="flex-wrap-movielist">
					{% for film in page_obj %}
						<div class="movie-item-style-2 movie-item-style-1">
							<img src="{{film.image.url}}" alt="" style="width:170px;height:231px">
							<div class="hvr-inner">
	            				<a  href="moviesingle.html"> Смотреть </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="#">{{film.name}}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{film.rating_critic}}</span> /10</p>
							</div>
						</div>
					{% endfor %}

				</div>
				<div class="topbar-filter">
					<div class="pagination2">
						<span>Страница {{page_obj.number}} из {{paginator.num_pages}}:</span>
						{% if page_obj.has_previous %}
						<a href="?page={{page_obj.previous_page_number}}"><i class="ion-arrow-left-b"></i></a>

						{% endif %}


						{% for i in page_obj.paginator.get_elided_page_range %}
                  		{% if i == page_obj.paginator.ELLIPSIS %}
						<a href="?page={{i}}">{{i}}</a>
						{% else %}

						<a {% if i == page_obj.number %} class="active" {% endif %} href="?page={{i}}">{{i}}</a>
						{% endif %}
						{% endfor %}

						{% if page_obj.has_next %}
						<a href="?page={{page_obj.next_page_number}}"><i class="ion-arrow-right-b"></i></a>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Search for movie</h4>
						<form class="form-style-1" action="#">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Movie name</label>
									<input type="text" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Genres & Subgenres</label>
									<div class="group-ip">
										<select
											name="skills" multiple="" class="ui fluid dropdown">
											<option value="">Enter to filter genres</option>
											<option value="Action1">Action 1</option>
					                        <option value="Action2">Action 2</option>
					                        <option value="Action3">Action 3</option>
					                        <option value="Action4">Action 4</option>
					                        <option value="Action5">Action 5</option>
										</select>
									</div>
								</div>
								<div class="col-md-12 form-it">
									<label>Rating Range</label>
									<select>
									  <option value="range">-- Select the rating range below --</option>
									  <option value="saab">-- Select the rating range below --</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Release Year</label>
									<div class="row">
										<div class="col-md-6">
											<select>
											  <option value="range">From</option>
											  <option value="number">10</option>
											</select>
										</div>
										<div class="col-md-6">
											<select>
											  <option value="range">To</option>
											  <option value="number">20</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
					<div class="ads">
						<img src="images/uploads/ads1.png" alt="">
					</div>
					<div class="sb-facebook sb-it">
						<h4 class="sb-title">Find us on Facebook</h4>
						<iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"  height="315" style="width:100%;border:none;overflow:hidden" ></iframe>
					</div>
					<div class="sb-twitter sb-it">
						<h4 class="sb-title">Tweet to us</h4>
						<div class="slick-tw">
							<div class="tweet item" id=""><!-- Put your twiter id here -->
							</div>
							<div class="tweet item" id=""><!-- Put your 2nd twiter account id here -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}